.App {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  height: 100vh;
}

.Editor {
  border-style: solid;
  border-width: medium;
  padding: 15px;
  overflow: scroll;
}


